<kendo-dialog (close)="closeDialog()">
    <kendo-dialog-titlebar>
      {{ isEditMode ? 'Edit Contact' : 'Add Contact' }}
    </kendo-dialog-titlebar>
    <form>
      <div class="form-group">
        <label for="name">Name*</label>
        <div>
          <input kendoTextBox id="name" [formControl]="contactForm.controls.name" />
        </div>
        <div *ngIf="contactForm.controls.name.invalid && contactForm.controls.name.touched" class="alert alert-danger mt-2">Name is required</div>
      </div>
      <div class="form-group">
        <label for="phone">Phone*</label>
        <div>
          <input kendoTextBox placeholder="XXXXXXXXX" id="phone" [formControl]="contactForm.controls.phone" />
        </div>
        <div *ngIf="contactForm.controls.phone.invalid && contactForm.controls.phone.touched" class="alert alert-danger mt-2">Phone is required</div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div>
          <input kendoTextBox id="email" [formControl]="contactForm.controls.email" />
        </div>
        <div *ngIf="contactForm.controls.email.invalid && contactForm.controls.email.touched" class="alert alert-danger mt-2">Invalid email</div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <div>
          <input kendoTextBox id="address" [formControl]="contactForm.controls.address" />
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender*</label>
        <kendo-dropdownlist
          [data]="['Male', 'Female']"
          [formControl]="contactForm.controls.gender"
          [defaultItem]="'Select gender'"
          [valuePrimitive]="true"
        ></kendo-dropdownlist>
        <div *ngIf="contactForm.controls.gender.invalid && contactForm.controls.gender.touched" class="alert alert-danger mt-2">Gender is required</div>
      </div>
      <div class="form-group">
        <label for="status">Status*</label>
        <div>
          <label>
            <kendo-radiobutton name="status" value="On" [formControl]="contactForm.controls.status"></kendo-radiobutton>
            On
          </label>
        </div>
        <div>
          <label>
            <kendo-radiobutton name="status" value="Off" [formControl]="contactForm.controls.status"></kendo-radiobutton>
            Off
          </label>
        </div>
        <div *ngIf="contactForm.controls.status.invalid && contactForm.controls.status.touched" class="alert alert-danger mt-2">Status is required</div>
      </div>
      <kendo-dialog-actions>
        <button kendoButton
        (click)="saveContact()"
        [disabled]="contactForm.invalid"
        type="submit">{{ isEditMode ? 'Update' : 'Add' }}</button>
        <button kendoButton type="button" (click)="cancel()">Cancel</button>
      </kendo-dialog-actions>
    </form>
  </kendo-dialog>
  