<kendo-dialog (close)="closeDialog()" >
    <kendo-dialog-titlebar>
      {{ isEditMode ? 'Edit Contact' : 'Add Contact' }}
    </kendo-dialog-titlebar>
    <form>
      <fieldset [disabled]="loaderTrigger">
      <div class="form-group">
        <label>Name*</label>
        <div>
          <input kendoTextBox [id]="contactForm.controls.name" [formControl]="contactForm.controls.name" />
        </div>
        @if(contactForm.controls.name.invalid && contactForm.controls.name.touched)
        {
          <div class="alert alert-danger mt-2">Name is required</div>
        }
      </div>
      <div class="form-group">
        <label>Phone*</label>
        <div>
          <input kendoTextBox placeholder="XXXXXXXXX" [id]="contactForm.controls.phone" [formControl]="contactForm.controls.phone" />
        </div>
        @if (contactForm.controls.phone.invalid && contactForm.controls.phone.touched)
        {
          <div class="alert alert-danger mt-2">Phone is required</div>
        }
      </div>
      <div class="form-group">
        <label>Email</label>
        <div>
          <input kendoTextBox [id]="contactForm.controls.email" [formControl]="contactForm.controls.email" />
        </div>
        @if (contactForm.controls.email.invalid && contactForm.controls.email.touched)
        {
          <div class="alert alert-danger mt-2">Invalid email</div>
        }
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <div>
          <input kendoTextBox [id]="contactForm.controls.address" [formControl]="contactForm.controls.address" />
        </div>
      </div>
      <div class="form-group">
        <label>Gender*</label>
        <kendo-dropdownlist
          [data]="genderList"
          [formControl]="contactForm.controls.gender"
          [defaultItem]="defaultGender"
          [valuePrimitive]="true"
          valueField="value"
          textField="text"
        ></kendo-dropdownlist>
        @if (contactForm.controls.gender.invalid && contactForm.controls.gender.touched)
        {
          <div class="alert alert-danger mt-2">Gender is required</div>
        }
      </div>
      <div class="form-group">
        <label>Status*</label>
        <div>
          <label>
            <kendo-radiobutton name="status" value="On" [formControl]="contactForm.controls.status"></kendo-radiobutton>
            On
          </label>
        </div>
        <div>
          <label>
            <kendo-radiobutton name="status" value="Off" [formControl]="contactForm.controls.status"></kendo-radiobutton>
            Off
          </label>
        </div>
        @if (contactForm.controls.status.invalid && contactForm.controls.status.touched)
        {
          <div class="alert alert-danger mt-2">Status is required</div>
        }
      </div>
      <kendo-dialog-actions>
        <button kendoButton
        (click)="saveContact()"
        [disabled]="contactForm.invalid"
        type="submit">{{ isEditMode ? 'Update' : 'Add' }}</button>
        <button kendoButton type="button" (click)="cancel()">Cancel</button>
      </kendo-dialog-actions>
      <div id="loader">
        @if (loaderTrigger)
        {
          <kendo-loader></kendo-loader>
        }
      </div>
    </fieldset>
    </form>
  </kendo-dialog>
